<h1 mat-dialog-title>Donate food</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Plate type</mat-label>
            <input matInput
                   [formControlName]="'plateType'"
                   placeholder="Insert plate type">
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Quantity</mat-label>
            <input matInput
                   [formControlName]="'quantity'"
                   placeholder="Insert quantity">
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Ingredients</mat-label>
            <input matInput
                   [formControlName]="'ingredients'"
                   placeholder="Insert ingredients">
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Allergens</mat-label>
            <input matInput
                   [formControlName]="'allergens'"
                   placeholder="Insert allergens">
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Expiration date</mat-label>
            <input matInput
                   [formControlName]="'expirationDate'"
                   placeholder="Insert expiration date">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button [mat-dialog-close]="submit()" cdkFocusInitial>Submit</button>
</div>
