<body>
<div class="header">
    <img src="/assets/images/volunteer.jpg"  style="width:1100px;height:300px;">
</div>
<div class = "pack"><br><br>
    <button class="button button1" (click)=makePackages() >Make Packages</button>
    <button class="button button2" (click)=setSchedule() >Set your schedule</button><br> <br>
    <img class = "img1" src="/assets/images/food.jpg"  style="width:350px;height:300px;">
    <img class = "img2" src="/assets/images/orar.jpg"  style="width:350px;height:300px;">
</div>
</body>
