<div class="grid-container">
    <mat-card class="item-card">
        <div class="img-box">
            <img mat-card-image src="/assets/images/Check.PNG"
                 alt="Manage requests">
        </div>

        <mat-card-actions>
            <a routerLink="/admin/requests">
                <button mat-stroked-button
                        color="primary">Check requests</button>
            </a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="item-card">
        <div class="img-box">
            <img mat-card-image src="/assets/images/expired.jpg"
                 alt="Manage requests">
        </div>
        <mat-card-actions>
            <a routerLink="/admin/food-quality">
                <button mat-stroked-button
                        color="primary">Verify food quality</button>
            </a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="item-card">
        <div class="img-box">
            <img mat-card-image src="/assets/images/reports.jpg"
                 alt="Manage requests">
        </div>
        <mat-card-actions>
            <a routerLink="/admin/reports">
                <button mat-stroked-button
                        color="primary">Make reports</button>
            </a>
        </mat-card-actions>
    </mat-card>
</div>
